.basic-details-section {

    .title-wrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        .title{
            font-size: 2em;
            font-weight: bold;
        }
    
        .step-counter{
            font-size: 1.3em;
            // font-weight: bold;
        }
    }

    .intro-text{
        margin-bottom: 24px;
    }
   
    .input-wrapper {
        .MuiFormControl-root {
            width: calc(50% - 6px);
            margin-bottom: 12px;
        }

        .margin-right{
            margin-right: 12px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .basic-details-section {
        .input-wrapper {
            display: flex;
            flex-direction: column;
            padding-bottom: 24px;
            .MuiFormControl-root {
                width: 100%;
                margin: 0 0 12px 0;
            }
        }
    }

}
