.business-type-section {
    .title-wrapper{
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        .title{
            font-size: 2em;
            font-weight: bold;
        }
    
        .step-counter{
            font-size: 1.3em;
            // font-weight: bold;
        }
    }

    .selection-title{
        font-size: 1.1em;
        font-weight: 600;
    }
    .option-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 48px;

        .MuiCard-root{
            flex: 1;
            text-align: center;

            svg{
                width: 100%;
                height: 60px;
                padding: 12px 0;
            }

            &.selected{
                
                font-weight: bold;
                color: white;

                // &.buyer{
                //     background-color: #0093A8;
                // }

                // &.seller{
                //     background-color: #B7B500;
                // }

                svg{
                    fill: white
                }
            }
            
            &:not(:last-child){
                margin-right: 6px;
            }
        }
        
        .MuiCardContent-root{
            font-family: 'Poppins', 'Helvetica', sans-serif;
            font-size: 1.2em;

        }
    }
}

@media only screen and (max-width: 850px) {
    .business-type-section {
        .option-wrapper{
            flex-direction: column;
    
            .MuiCard-root{                
                &:not(:last-child){
                    margin-right: unset;
                    margin-bottom: 12px;
                }
            }
        }
    }

}