.business-type-section {
    .title-wrapper {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        .title {
            font-size: 2em;
            font-weight: bold;
        }

        .step-counter {
            font-size: 1.3em;
            // font-weight: bold;
        }
    }

    .selection-title {
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: 12px;
    }
    .option-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 12px 0 125px;

        &:last-child{
            margin: 12px 0 48px; 
        }

        .MuiCard-root {
            flex: 1;
            text-align: center;

            .MuiCardContent-root {
                font-family: "Poppins", "Helvetica", sans-serif;
                font-size: 1.2em;
                font-weight: 600;

                svg {
                    width: 100%;
                    height: 60px;
                    padding: 12px 0;
                }

                

                &:not(:last-child) {
                    margin-right: 6px;
                }
            }

            &.selected {
                font-weight: bold;
                color: white;

                svg {
                    fill: white;
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .business-type-section {
        .option-wrapper {
            flex-direction: column;
            margin: 12px 0 60px;

            .MuiCard-root {
                &:not(:last-child) {
                    margin-right: unset;
                    margin-bottom: 12px;
                }

                .MuiCardContent-root {
                    display: flex;
                    align-items: center;
                    padding: 0 6px;
                    svg {
                        width: 70px;
                        height: 60px;
                        padding: 12px 24px 12px 0;
                    }
                }
            }
        }
    }
}
