.uk-map-section {
    .title-wrapper{
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        .title{
            font-size: 2em;
            font-weight: bold;
        }
    
        .step-counter{
            font-size: 1.3em;
            // font-weight: bold;
        }
    }
    .map-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 24px;

        .map {
            width: 400px;
            background-color: unset !important;

            &.buyer{
                .svg-map__location[aria-checked="true"] {
                    fill: #0093A8;
                }
            }

            &.seller{
                .svg-map__location[aria-checked="true"] {
                    fill:#E94F37;
                }
            }
            

            &.disabled.buyer {
                pointer-events: none;

                .svg-map__location {
                    fill: #c0c0c0;
                }
            }

            &.disabled.seller {
                pointer-events: none;

                .svg-map__location {
                    fill: #E94F37;
                }
            }
        }

        .selected-locations {
            width: 230px;
            display: flex;
            flex-direction: column;
            .MuiFormControlLabel-label {
                font-size: 1.3em;
            }

            .selected-location-wrapper {
                display: flex;
                flex-direction: column;
                // &.desktop {
                //     display: block;
                // }

                &.mobile {
                    display: none;
                }

                .selected-location {
                }
            }
        }
    }

    .more-info-wrapper {
        .MuiFormControl-root {
            width: 100%;
            margin: 24px 0 12px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .uk-map-section {
        .map-wrapper {
            // display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            // margin-bottom: 24px;

            .map {
                width: unset;
                max-width: 400px;
                order: 2;
            }

            .selected-locations {
                width: 100%;
                margin-bottom: 24px;
                
                // display: flex;
                // flex-direction: column;
                .MuiFormControlLabel-label {
                    // font-size: 1.3em;
                }
    
                .selected-location-wrapper {
                    min-height: 25px;
                    // display: flex;
                    // flex-direction: column;
                    // &.desktop {
                    //     display: block;
                    // }
    
                    .desktop {
                        display: none;
                    }
                    .mobile {
                        display: block;
                        // min-height: 25px;
                    }
    
                    .selected-location {
                    }
                }
            }
        }

        .more-info-wrapper {
            .MuiFormControl-root {
                // width: 100%;
                // margin: 24px 0 12px
            }
        }
    }
}
