.menu-bar {
    .MuiAppBar-root {
        position: fixed;
        box-shadow: none;
    }

    .MuiAppBar-colorPrimary {
        flex-grow: 1;
        // background-color: #087e8b;
        color: #84a07c;
    }

    .MuiToolbar-root {
        justify-content: space-between;
    }

    .link-button {
        color: white;
        font-family: "Poppins", "Helvetica", sans-serif;
        margin: 0 6px;
        &:hover {
            background-color: transparent;
            color: #e2e2e2;
            text-decoration: underline;
        }
    }

    button.menu {
        margin-right: 12px;

        &.buyer {
            border: solid 1px #007688;
        }

        &.seller {
            border: solid 1px #992b1b;
        }
    }

    .logo-wrapper {
        .logo-link {
            opacity: 0;

            &.show-logo {
                opacity: 1;
                animation-name: logoFadeIn;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }

        a {
            display: flex;
            img {
                width: 50px;
                height: 45px;
            }
        }
    }

    .hamburger-menu {
        display: none;
        color: white;
        justify-content: flex-end;
        &:hover {
            background-color: transparent;
            color: #e2e2e2;
        }

        .MuiButton-base {
            .MuiButton-label {
                width: 24px;
            }
        }
    }
}

.menu-drawer{
    
    .MuiDrawer-paper{
        padding-bottom: 24px;
        background-color:#3f3b5b;
        a{
            text-decoration: none;
        }

        .MuiListItem-root{
            font-family: "Poppins", "Helvetica", sans-serif;
            font-weight: 600;
            font-size: 1.3em;
            color: white;

            &.logo-menu-item{
                display: flex;
                justify-content: center;
                margin-top: 24px;
            }

            button{
                margin: 0;
                width: 100%; 
            }

            img{
                width: 50px;
                height: 45px;
            }
        }

        .close-icon-container{
            height: 56px;
            display: flex;
            justify-content: flex-end;

            .MuiButton-label{
                color: white;
            }
            
        }
    }
}

@media only screen and (max-width: 750px) {
    .menu-bar {
        .hamburger-menu {
            display: flex;
        }

        .menu-items {
            display: none;
        }

        .logo-wrapper {
            svg {
                height: 40px;
                width: 40px;
            }
        }
    }
}
