.testimonial-card {
    // margin: 0 12px 12px 0;
    .MuiCard-root {
        max-width: 300px;

        .MuiCardContent-root {
            display: flex;
            flex-direction: column;

            .quote {
                font-size: 0.8em;
                font-style: italic;
                margin-bottom: 12px;
            }

            .name {
                font-size: 1.1em;
                font-weight: bold;
            }

            .work-title {
                font-size: 0.8em;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .testimonial-card {
        margin: 0 0 12px 0;
    }
}
