.timescales-section {
    .title-wrapper{
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        .title{
            font-size: 2em;
            font-weight: bold;
        }
    
        .step-counter{
            font-size: 1.3em;
            // font-weight: bold;
        }
    }
    .option-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 48px;

        .MuiCard-root {
            flex: 1;

            svg{
                width: 100%;
                height: 60px;
                padding: 12px 0;
            }

            &.selected {
                font-weight: bold;
                color: white;

                // &.buyer{
                //     background-color: #0093A8;
                // }

                // &.seller{
                //     background-color: #B7B500;
                // }

                svg{
                    fill: white
                }
            }

            &:not(:last-child) {
                margin-right: 6px;
            }

            .MuiCardActionArea-root {
                display: flex;
                flex-direction: column;

                .MuiCardMedia-root {
                    max-width: 130px;
                }

                .MuiCardContent-root {
                    display: flex;
                    flex-direction: column;
                    font-family: "Poppins", "Helvetica", sans-serif;
                    font-size: 1.2em;
                    text-align: center;

                    .text-wrapper{
                        display: flex;
                        flex-direction: column;

                        .title {
                            font-weight: bold;
                            font-size: 1.2em;
                            margin-bottom: 6px;
                        }
    
                        .subtitle {
                            font-size: 1em;
                        }
                    }

                    
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .timescales-section {
        .option-wrapper {
            flex-direction: column;
            margin: 12px 0 60px;

            .MuiCard-root {
                &:not(:last-child) {
                    margin-right: unset;
                    margin-bottom: 12px;
                }
                .MuiCardActionArea-root {
                    .MuiCardContent-root {
                        flex-direction: row;
                        align-items: center;
                        padding: 0 6px;
                        text-align: left;

                        
                        svg {
                            width: 70px;
                            height: 60px;
                            padding: 12px 24px 12px 0;
                        }
                    }
                }

                
            }
        }
    }
}
