.sell-page{
    .current-step-section {
        padding-top: 48px;
    }

    a{
        color: unset;
        text-decoration: none;
    }

    .small-print{
        font-size: 0.8em;
    }

    .title-wrapper{
        .song-title-wrapper{
            display: flex;
            flex-direction: column;
            // align-items: center;  

            .sub-title{
                margin: 0 0 6px 0;
            }
            
            .refresh-icon{
                margin-left: 24px;
                display: flex;
                .MuiSvgIcon-root{
                    font-size: 2.3em;
                }
            }

            .refresh-icon:hover{
                cursor: pointer;
            }
        }
    }

    .intro-section {
        display: flex;
        flex-direction: column;
        // padding: 48px 0 0 0;
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-end;

        .next{
            margin-left: 12px;
        }
    }

}

@media only screen and (max-width: 600px) {
    .buy-page {
        .button-wrapper {
            flex-direction: column;
            justify-content: unset;

            .back {
                order: 2;
                height: 50px;
            }

            .next {
                order: 1;
                height: 50px;
            }
        }
    }
}