.home-page {
    .header-section {
        padding: 125px 12px 150px;

        .content {
            position: relative;
            z-index: 2;

            .home-title-wrapper {
                max-width: 750px;
                font-size: 3.7em;
                line-height: 60px;
                font-weight: 800;
                // margin-right: 70px;
    
                .title {
                    padding-right: 9px;
                }
    
                .heart-wrapper {
                    display: inline-block;
                    animation: pulse 1s infinite;
                    position: absolute;
                    margin-top:4px
                    
                }
            }
    
            .button-wrapper {
                padding: 24px 0 12px;
            }
    
            .clickable-link {
                text-decoration: none;
                color: unset;
                font-size: 0.8em;
            }
            .clickable-link:hover {
                text-decoration: underline;
            }
    
            .cta-button {
                padding: 12px;
                font-size: 1.1em;
                margin: 6px 6px 0 0;
                transition: all 0.2s ease 0s;
                box-shadow: none;
                min-width: 270px;
            }
    
            .cta-button:hover {
                -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.4);
                box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.4);
                transition: all 0.2s ease 0s;
            }
    
            .cta-button:focus {
                outline: none;
            }
        }


    }

    .header-section:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../../images/tmb-logo.png);
        top: 64px;
        left: 0px;
        background-size: 50%;
        opacity: 0.04;
        background-repeat: no-repeat;
        background-position: right -25% bottom 115%;
    }



    .intro-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 200px 12px 150px;
        .image-wrapper {
            margin-right: 48px;
            img {
                width: 300px;
            }
        }
        z-index: 2;
    }

    .testimonials-section {
        padding: 150px 12px;
        .testimonials-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
             > *:not(:last-child){
                 margin-right: 12px;
             }
        }
    }

    .what-we-do-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 200px 12px 150px;
        .image-wrapper {
            margin-left: 48px;
            img {
                width: 250px;
            }
        }

        // .tick-image {
        //     width: 30px;
        //     padding-right: 24px;
        // }

        .heart-wrapper{
            font-size: 2em;
        }

        table {
            td {
                padding: 6px 0;
            }
        }
    }

    .fair-exchange-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 200px 12px 150px;
        .image-wrapper {
            margin-right: 48px;
            img {
                width: 200px;
            }
        }
    }
}

@keyframes pulse {
    0%,
    100% {
        font-size: 100%;
    }
    50% {
        font-size: 95%;
    }
}

@media only screen and (max-width: 1500px) {
    .home-page {
        .header-section:after {
            background-size: 50%;
            background-position: right -25% bottom 65%;
        }
    }
}

@media only screen and (max-width: 850px) {
    .home-page {
        .header-section:after {
            background-size: 70%;
            background-position: right -68% bottom 75%;
        }
    }
}
// @media only screen and (min-width: 601px) and (max-width: 850px) {
//     .home-page {
//         .header-section:after {
//             background-size: 70%;
//             background-position: right -68% bottom 75%;
//         }
//     }
// }

@media only screen and (max-width: 600px) {
    .home-page {
        .header-section {
            text-align: center;
            padding: 48px 12px 72px;

            .content{
                .hero-image {
                    svg {
                        height: 125px;
                        width: 125px;
                    }
                }
    
                .home-title-wrapper {
                    font-size: 2.5em;
                    line-height: 45px;
                    text-align: center;
                    margin-right: 10px;
                    padding: 0 30px;

                    .heart-wrapper{
                        margin-top:4px
                    }
                }
            }

            
        }

        .header-section:after {
            background-size: 80%;
            background-position: right -100% bottom 40%;
        }

        .intro-section {
            flex-direction: column;
            text-align: center;
            font-size: 0.9em;
            padding: 150px 12px 75px;
            .image-wrapper {
                margin-right: 0;
                img {
                    width: 200px;
                }
            }
        }

        .testimonials-section {
            padding: 75px 12px;
            .testimonials-wrapper {
                flex-direction: column;
                align-items: center;

                > *:not(:last-child){
                    margin-right: 0;
                }
            }
        }

        .what-we-do-section {
            flex-direction: column;
            text-align: center;
            font-size: 0.9em;
            padding: 150px 12px 75px;
            .image-wrapper {
                order: 1;
                margin-left: 0;
                img {
                    width: 200px;
                }
            }

            .text-wrapper {
                order: 2;
            }

            table {
                td {
                    text-align: left;
                }
            }
        }

        .fair-exchange-section {
            flex-direction: column;
            text-align: center;
            font-size: 0.9em;
            padding: 150px 12px 75px;
            .image-wrapper {
                margin-right: 0;
            }
        }
    }
}




