.about-page {

    h2{
        margin: 0 0 36px 0;
    }
    
    .header-section {
        // background-color: #bade94;
        // color: #222;
        padding: 75px 0 150px;
        // margin: 0;

        a {
            color: unset;
            text-decoration: none;
        }

        .small-print {
            font-size: 0.8em;
        }

        .title-wrapper {
            .song-title-wrapper {
                display: flex;
                flex-direction: column;
                // align-items: center;

                .sub-title {
                    margin: 0 0 6px 0;
                }

                .refresh-icon {
                    margin-left: 24px;
                    display: flex;
                    .MuiSvgIcon-root {
                        font-size: 2.3em;
                    }
                }

                .refresh-icon:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .header-section:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../../images/tmb-logo.png);
        top: 64px;
        left: 0px;
        background-size: 50%;
        opacity: 0.04;
        background-repeat: no-repeat;
        background-position: right -25% bottom 115%;
    }

    .shifted-up-content {
        position: relative;
        top: -100px;
    }
    .how-it-works-section {
        margin-bottom: 125px;
        .MuiCard-root {
            border-radius: 15px;

            .MuiCardContent-root {
                .row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    &.margin-bottom {
                        margin-bottom: 20px;
                    }

                    .step-wrapper {
                        display: flex;
                        flex-direction: column;
                        // max-width: 300px;
                        flex: 1;
                        padding: 12px;

                        svg {
                            width: 100%;
                            height: 100px;
                            padding-bottom: 24px;
                        }
                        .title-wrapper {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 12px;
                            .title {
                                font-size: 1.2em;
                                font-weight: 600;
                                margin-left: 12px;
                            }
                            .step-number {
                                color: white;
                                background-color: #222;
                                padding: 12px 20px;
                                border-top-right-radius: 24px;
                                border-bottom-right-radius: 24px;
                                font-size: 1.1em;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    .vows-section {
        // margin-bottom: 150px;
        background-image: url("../../images/hearts-background.png");
        background-repeat: no-repeat;
        // background-size: 800px;
        background-size: cover;
        padding: 75px 0;

        .MuiCard-root {
            display: flex;
            align-items: center;
            padding: 12px;
            margin-bottom: 12px;
            border-radius: 15px;
            font-weight: 600;
            .emoji-wrapper {
                font-size: 2em;
                margin-right: 12px;
            }
        }
    }

    .team-section {
        margin: 75px 0;

        a {
            color: unset;
        }
        .intro{
            margin-bottom: 36px;
        }
        .matchmakers{
            // margin-bottom: 48px;

            >*:not(:last-child){
                margin-bottom: 60px;
            }
            .matchmaker-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                }
    
                .text-wrapper {
                    display: flex;
                    flex-direction: column;
                    margin-left: 12px;
    
                    .name {
                        font-size: 1.2em;
                        font-weight: 600;
                        margin-bottom: 6px;
                        display: flex;
    
                        a {
                            margin-left: 12px;
    
                            svg {
                                width: 20px;
                            }
                        }
                    }
    
                    .email {
                        display: flex;
                        align-items: center;
                        font-size: 0.85em;
                        .email-icon {
                            font-size: 1.5em;
                            margin-right: 12px;
                        }
                        a {
                            color: unset;
                            text-decoration: none;
                        }
                    }
    
                    .description-wrapper {
                        font-size: 0.85em;
                    }
                }
            }
        }
        
        
    }

    .fees-section {
        background-image: url("../../images/cupid-arrow-background.png");
        background-repeat: repeat;
        background-size: 250px;
        padding: 75px 0;
        font-weight: 600;

        h2{
            margin-bottom: 0;
        }

        .music-link-wrapper{
            margin-bottom: 36px;
        }

        a {
            color: unset;
            text-decoration: none;
        }

        .fees-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            opacity: 1;

            > *:not(:last-child) {
                margin-right: 12px;
            }

            .MuiCard-root {
                display: flex;
                justify-content: center;
                flex: 1;
                margin-bottom: 12px;
                border-radius: 15px;
                .MuiCardContent-root {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    .title {
                        font-size: 1.8em;
                        font-weight: 600;
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }

    .wealth-holdings-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 75px;


        a {
            color: unset;
        }

        > * {
            flex: 1;
        }

        .text-wrapper{
            // margin-top: 75px;
        }

        .logo-wrapper {
            display: flex;
            justify-content: center;
            // margin-top: 75px;
            
            svg {
                width: 350px;
                height: 99px;
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .about-page {
        .header-section:after {
            background-size: 50%;
            background-position: right -25% bottom 100%;
        }
    }
}



@media only screen and (max-width: 850px) {
    .about-page {
        .header-section:after {
            background-size: 70%;
            background-position: right -68% bottom 75%;
        }
        .how-it-works-section {
            margin-bottom: 75px;
            .MuiCard-root {
                .MuiCardContent-root {
                    
                    .row {
                        flex-direction: column;

                        &.margin-bottom {
                            margin-bottom: 0;
                        }

                        >*:not(:last-child){
                            margin-bottom: 48px;
                        }

                        .step-wrapper {
                            padding: 0;
                        }
                    }
                }
            }
        }

        .vows-section{
            .text-wrapper{
                    h2{
                        margin: 0 0 48px 0;
                    }
            }
        }

        .team-section {
            .matchmakers{
                margin-bottom: 0;
                >*:not(:last-child){
                    margin-bottom: 60px;
                }
                .matchmaker-wrapper {
                    flex-direction: column;
                    text-align: center;
                    
                    
    
                    .text-wrapper {
                        align-items: center;
                        margin-left: 0;
                    }
    
                    img {
                        margin-bottom: 12px;
                    }
                }
            }
            
        }

        .fees-section {
            .fees-wrapper {
                flex-direction: column;
            }
        }

        .wealth-holdings-section{
            flex-direction: column;

            .logo-wrapper{
                margin-top: 24px;
                svg{
                    width: 230px;
    height: 65px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .about-page {
        .header-section:after {
            background-size: 80%;
            background-position: right -100% bottom 80%;
        }
    }
}
