.buy-page {

    .click-me {
        cursor: pointer;
    }

    .header-section:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 90%;
        background: url(../../images/tmb-logo.png);
        top: 64px;
        left: 0px;
        background-size: 50%;
        opacity: 0.04;
        background-repeat: no-repeat;
        background-position: right -25% bottom 90%;
    }

    .current-step-section {
        margin: 75px 0;
    }

    a{
        color: unset;
        text-decoration: none;
    }

    .small-print{
        font-size: 0.8em;
    }
    .title-wrapper{
        .song-title-wrapper{
            display: flex;
            flex-direction: column;
            // align-items: center; 
            
            .sub-title{
                margin: 0 0 6px 0;
            }
            
            .refresh-icon{
                margin-left: 24px;
                display: flex;
                .MuiSvgIcon-root{
                    font-size: 2.3em;
                }
            }

            .refresh-icon:hover{
                cursor: pointer;
            }
        }
    }

    .intro-section {
        display: flex;
        flex-direction: column;
        margin: 75px 0 0 0;
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-end;

        a{
            display: flex;
        }

        .next{
            margin-left: 12px;
        }
    }
}

@media only screen and (max-width: 1500px) {
    .buy-page {
        .header-section:after {
            background-size: 50%;
            background-position: right -25% bottom 100%;
        }
    }
}



@media only screen and (max-width: 850px) {
    .buy-page {
        .header-section:after {
            background-size: 70%;
            background-position: right -68% bottom 90%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .buy-page {
        .header-section:after {
            background-size: 80%;
            background-position: right -100% bottom 80%;
        }

        .button-wrapper {
            flex-direction: column;
            justify-content: unset;

            .back {
                order: 2;
                height: 50px;
            }

            .next {
                margin-left: 0;
                order: 1;
                height: 50px;
                
            }

            a{
                .next{
                    flex: 1;
                }
            }
        }
    }
}

