.buy-page {
    .current-step-section {
        // padding-top: 48px;
    }

    .intro-section {
        display: flex;
        flex-direction: column;
        // padding: 48px 0 0 0;
        padding-bottom: 48px;
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-end;

        .next{
            margin-left: 12px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .buy-page {
        .button-wrapper {
            flex-direction: column;
            justify-content: unset;

            .back {
                order: 2;
            }

            .next {
                order: 1;
            }
        }
    }
}
