.submission-page {
    .button-wrapper {
        display: flex;
        justify-content: flex-end;

        .next {
            margin-left: 12px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .submission-page {
        .button-wrapper {
            flex-direction: column;
            justify-content: unset;

            .back {
                order: 2;
                height: 50px;
            }

            .next {
                margin-left: 0;
                order: 1;
                height: 50px;
                margin-bottom: 12px;
            }
        }
    }
}
