.content {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 12px;
    z-index: 2;
    position: relative;
}

.full-height-content {
    min-height: calc(100vh - 170px); /* will cover the 100% of viewport minus (header + footer) */
    overflow: hidden;
    display: block;
    margin-top: 40px;
}

.header-section {
    background-color: #2258ff;
    color: white;
    padding: 75px 0;

    .title-wrapper {
        display: flex;
        flex-direction: column;

        .title {
            // max-width: 670px;
            font-size: 3em;
            font-weight: 600;
            line-height: 1.1;
        }

        .sub-title {
            font-size: 1.3em;
        }
    }
}

.ain-button {
    color: white;
    border-radius: 5px;
    font-family: "Poppins", "Helvetica", sans-serif;
    min-width: 135px;
    padding: 12px 6px;
    font-weight: 500;
    border: none;
    background-color: #3b7cee;
    cursor: pointer;

    &.submit {
        background-color: green;
        margin-left: 12px;
    }
}

.ain-button:disabled {
    background-color: gray !important;
    border: none;
    cursor: unset;
}

.MuiPopover-paper {
    cursor: pointer;
}

.basic-details-section,
.funding-details-section,
.team-details-section,
.risk-details-section,
.forecast-details-section,
.extras-details-section {
    // margin-top: 48px;
    .title-wrapper {
        display: flex;
        flex-direction: column;
        // margin-bottom: 24px;
        .title {
            font-size: 2em;
            font-weight: bold;
        }

        .step-counter {
            font-size: 1.3em;
            // font-weight: bold;
        }
    }

    .intro-text {
        margin-bottom: 36px;
    }

    .input-wrapper {
        .file-upload {
            .MuiInputBase-input.Mui-disabled {
                cursor: pointer;
                color: rgba(0, 0, 0, 0.54);
            }

            .MuiInputBase-root.Mui-disabled:hover {
                .MuiOutlinedInput-notchedOutline {
                    border-color: black;
                }
            }

            &.file-selected .MuiInputBase-input {
                color: black;
            }
        }

        .column-wrapper {
            display: flex;
            width: 100%;
            flex-direction: column;

            .MuiIconButton-colorSecondary {
                color: #3b7cee;
            }
        }

        > * {
            display: inline-flex;

            width: calc(50% - 6px);
            margin-bottom: 12px;

            &:nth-child(odd) {
                margin-right: 12px;
            }

            .MuiFormControl-root {
                flex-grow: 1;
            }

            .help-icon-wrapper {
                width: 32px;
                .MuiSvgIcon-root.help-icon {
                    color: rgba(0, 0, 0, 0.54);
                    margin: 16px 2px 0 6px;
                    cursor: pointer;

                    &:hover {
                        color: rgba(0, 0, 0, 0.7);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .basic-details-section,
    .funding-details-section,
    .team-details-section,
    .risk-details-section,
    .forecast-details-section,
    .extras-details-section {
        .input-wrapper {
            display: flex;
            flex-direction: column;
            padding-bottom: 24px;
            > * {
                width: 100%;
                margin: 0 0 12px 0;
            }
        }
    }

    // .ain-button{
    //     margin-bottom: 12px;
    // }
}
